/* Add these styles to your index.module.css file */

/* About Me Section */
.subscribeSection {
    width: 1000px;
    padding: 0 60px;
    margin: 0 auto;
    padding-bottom: 10px;
  }
  
  @media screen and (max-width: 996px) {
    .subscribeSection {
      width: 100%;
      padding: 0 20px;
    }
    
  }
  
  
  .subscribeTitle {
    font-size: 24px;
    margin-bottom: 20px;
    text-transform: uppercase;
    
  }
  
  .subscribeText {
    font-size: 18px;
    
  }
  
  /* Links Section */
  .linksSection {
    padding: 60px 0;
  }
  
  .linksList {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  .showName{
    font-family: 'Roboto', sans-serif;
  }
  .link {
    display: block;
    font-size: 18px;
    margin: 20px 0;
    text-decoration: none;
    color: #007bff; /* Link text color */
  }
  
  .link:hover {
    text-decoration: underline; /* Underline links on hover */
  }
  .subscribeForm{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    align-items: center;
  }
  .subscribeInput{
    width: 100%;
    padding: 14px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }


  .subscribeButton{
    color: aliceblue;
    width: 100%;
    padding: 14px;
    font-size: 16px;
    background-color: #49421aea;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .subscribeButton:hover{
    background-color: #a18900;
  }

  .subscribeError{
    color: red;
    font-size: 14px;
  }

  .subscribeErrorSection
  {
    margin-bottom: 10px;
    padding-bottom: 10px ;
  }

  .successMessage{
    color: green;
    font-size: 14px;
    font-weight: bold;
  }
  .sendingMessage{
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
  }